
.singlePostWrapper {
  text-align: center;
}
.singlePostImg {
  width: 30%;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 20px;
}
.singlePostTitle {
  text-align: center;
  margin: 10px;
  font-family: "lora", serif;
  font-size: 28px;
}
.singlePostEdit {
  float: right;
  font-size: 16px;
}
.singlePostIcon {
  color: tomato;
  margin-right: 10px;
  cursor: pointer;
}
.singlePostIcon:first-child {
  color: teal;
}
/* .singlePostIcon:last-child {
  color: tomato;
} */
.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  color: #b39656;
}
.singlePostDesc {
  color: #666;
  font-size: 18px;
  line-height: 25px;
}
/* .singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
} */

.hidden {
  display: none;
}

.edit-body-input {
  max-width: 80%;
  min-width: 50%;
  width: 80%;
}

.edit-title-input {
  margin: 10px;
  font-family: "lora", serif;
  font-size: 28px;
}

.edit-body-input,
.edit-title-input {
  border: none;
  outline: none;
  box-shadow: 0 0 5px #000;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
}

.edit-btn{
  border: none;
  outline: none;
  padding:6px 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px #000;
  transition: 0.4s;
}

.edit-btn:active{
  transform: scale(0.97);
}