.register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://static8.depositphotos.com/1252474/1061/i/950/depositphotos_10619417-stock-photo-vintage-background-with-old-paper.jpg");
  background-size: cover;
}

.registerTitle {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #706233;
}

.registerForm {
  width: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
  font-weight: bold;
  color: #706233;
}

.registerInput {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 5px;
  border-radius: 5px;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: #706233;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.registerButton:hover {
  background-color: #E1C78F;
}

#loginButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #B0926A;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}
.link{
  background-color: transparent;
}
.error {
  color: #9A3B3B;
  font-weight: bold;
  margin-top: 5px;
}
.loginInReg{
    margin-top: 20px;
  cursor: pointer;
  background-color: #b0926a;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s;
  position: absolute;
  top: 0;
  right: 20px;
}