.register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://static8.depositphotos.com/1252474/1061/i/950/depositphotos_10619417-stock-photo-vintage-background-with-old-paper.jpg");
  background-size: cover;
}
.registerTitle {
  font-size: 50px;
}
.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  margin-top: px;
  border-radius: 5px;
}
.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: #666;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.loginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #666;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
